/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Vars */
:root{
  --pink: #E53170;
  --email: #5BB7DB;
}

/* General */
body{
  font-family: fredoka, sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.card{
  width: calc(100% / 3 - 20px);
  background-color: black;
  float: left;
  margin: 10px;
}

section{
  margin: 50px 0;
}

/* header */
header{
  text-align: center;
}

header h1{
  color: var(--pink);
  font-size: 3rem;
  margin: 30px 0;
}

header p{
  font-size: 1.2rem;
}

/* main */
main{
  color: white;
}

main img{
  height: 100px;
  float: left;
}

.card address{
  padding: 15px 10px;
  float: left;
  font-style: normal;
}

address a{
  text-decoration: none;
  color: var(--email);
}

/* clearfix */
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}